@media(width<=2560px){

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: white;
}

h1 {
    font-size: 4rem;
    letter-spacing: 10px;
}

.logo>img {
    width: 250px;
    height: 200px;
}

.siteDestinations {
    display: flex;
    width: 500px;
    height: auto;
    align-content: space-between;
    align-items: center;
    justify-content:space-evenly;
    margin-right: 2%;
    font-size: 2rem;
    padding: 10px;
}
h3{
    padding: 5%;
}

body {
    margin: 0;
    background-color: #eba5a5;
    font-family: "Times New Roman", Times, serif;

}

.body-content {
    position: relative;
    width: 100%;
    background-color: #EFABAA;
}


img.girlWithCupcake {
    width: 60%;
    height: 90vh;
    object-fit: cover;
    object-position: 60% 40%;
    position: absolute;
    margin-right: 10%;

}

.body-content>h2 {
    position: absolute;
    margin-left: 48%;
    margin-bottom: 50%;
    margin-top: 4%;
    color: white;
    font-size: 3.5rem;
    font-weight: lighter;
}

i {
    color: #DE5C6E;
}

.body-content>.paragraph {
    font-size: 2.5rem;
    position: absolute;
    text-align: center;
    width: 40%;
    margin-left: 47%;
    margin-bottom: 50%;
    margin-top: 8%;
}

.form {
    background-color: white;
    position: absolute;
    width:50rem;
    height: 20rem;
    margin-left: 48%;
    margin-bottom: 50%;
    margin-top: 16%;
    box-shadow: 10px 10px 5px #B38180;
}

button {
    position: absolute;
    color: white;
    background-color: #DE5C6E;
    border: none;
    border-radius: 6%;
    width: 15rem;
    height: 5rem;
    margin-left: 48%;
    margin-bottom: 50%;
    margin-top: 35%;
    font-size: larger;
}

.login {
    position: absolute;
    margin-left: 48%;
    margin-bottom: 50%;
    margin-top: 40%;
}

.login>b {
    color: white;
}

/* /* .siteDestinations>h3{
    /* padding-right: 10%; */

    form {
        position: relative;
           width: 500px;
           height: 200px;
           padding: 2%;
           padding-left: 9%;

       }
       
       label{
        margin-left: 5%;
        font-size: 1.5rem;
       }
       p{
        font-size: 1.5rem;
       }
       
       .first_name{
           position: absolute;
           padding-left: 3%;
       
       }
       .last_name{
           position: absolute;
           margin-left: 50%;
       }
       .email{
           position: absolute;
           margin-top: 13%;
           padding-left: 3%;
       
       }
       .phone_number{
           position: absolute;
           margin-top: 12%;
           margin-left: 50%;
       
       }
       .password{
           position: absolute;
           margin-top: 30%;
           padding-left: 3%;
       
       }
       .confirm_password{
           position: absolute;
           width: 100px;
           margin-top: 25%;
           margin-left: 50%;
       }
       input{
        background-color: #D9D9D9;
        border: 0;
        height: 1.5rem;
        width: auto;
        height: 30px;
       }
    }

    
    @media(width<=1440px){ 
        body {
            margin: 0;
            background-color: #eba5a5;
            font-family: "Times New Roman", Times, serif;
            width: auto;
        
        }

/*---Navigation Bar---*/
        .navbar {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            background-color: white;
            width: auto;
        }
        
        h1 {
            font-size: 3rem;
            letter-spacing: 10px;
        }
        
        .logo>img {
            width: 120px;
            height: 100px;
        }
        
        .siteDestinations {
            display: flex;
            width: 200px;
            height: auto;
            align-content: space-between;
            align-items: center;
            justify-content:space-evenly;
            margin-right: 2%;
            font-size: 1.3rem;
        }
        
       
        
        .body-content {
            position: relative;
            width: auto;
            background-color: #EFABAA;
        }
        
        
        img.girlWithCupcake {
            width: 60%;
            height: 100vh;
            object-fit: cover;
            object-position: 60% 40%;
            position: absolute;
            margin-right: 10%;
        
        }
        
        .body-content>h2 {
            position: absolute;
            margin-left: 48%;
            margin-bottom: 50%;
            margin-top: 4%;
            color: white;
            font-size: 3rem;
            font-weight: lighter;
            text-align: center;
        }
 
        i {
            color: #DE5C6E;
        }
        
        .body-content>.paragraph {
            font-size: 1.5rem;
            position: absolute;
            text-align: center;
            width: 50%;
            margin-left: 50%;
            margin-bottom: 50%;
            margin-top: 12%;
        }
        
        .form {
            background-color: white;
            position: absolute;
            width: 35rem;
            height: 14rem;
            margin-left: 48%;
            margin-bottom: 50%;
            margin-top: 24%;
            box-shadow: 10px 10px 5px #B38180;
        }
        
        button {
            position: absolute;
            color: white;
            background-color: #DE5C6E;
            border: none;
            border-radius: 6%;
            width: 12rem;
            height: 3rem;
            margin-left: 48%;
            margin-bottom: 50%;
            margin-top: 48%;
            font-size: larger;
        }
        
        .login {
            position: absolute;
            margin-left: 48%;
            margin-bottom: 50%;
            margin-top: 53%;
        }
        
        .login>b {
            color: white;
        }
        
        /* /* .siteDestinations>h3{
            /* padding-right: 10%; */
        
            form {
                position: relative;
                   width: 500px;
                   height: 200px;
                   padding: 2%;
                   padding-left: 9%;
        
               }
               
               label{
                font-size: 1rem;
                margin-left: 5%;
               }
               
               .first_name{
                   position: absolute;
                   padding-left: 3%;
               
               }
               .last_name{
                   position: absolute;
                   margin-left: 50%;
               }
               .email{
                   position: absolute;
                   margin-top: 12%;
                   padding-left: 3%;
               
               }
               .phone_number{
                   position: absolute;
                   margin-top: 12%;
                   margin-left: 50%;
               
               }
               .password{
                   position: absolute;
                   margin-top: 28%;
                   padding-left: 3%;
               
               }
               .confirm_password{
                   position: absolute;
                   margin-top: 25%;
                   margin-left: 50%;
               }
               input{
                background-color: #D9D9D9;
                border: 0;
                height: 1.5rem;
               }
    }




    @media(width<=1024px){ 
        body {
            margin: 0;
            background-color: #eba5a5;
            font-family: "Times New Roman", Times, serif;
            width: 100vh;
        
        }

/*---Navigation Bar---*/
        .navbar {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            background-color: white;
            width: 1024px;
        }
        
        h1 {
            font-size: 2rem;
            letter-spacing: 10px;
        }
        
        .logo>img {
            width: 120px;
            height: 100px;
        }
        
        .siteDestinations {
            display: flex;
            width: 200px;
            height: auto;
            align-content: space-between;
            align-items: center;
            justify-content:space-evenly;
            margin-right: 16%;
            font-size: .8rem;
        }
        
       
        
        .body-content {
            position: relative;
            width: auto;
            background-color: #EFABAA;
        }
        
        
        img.girlWithCupcake {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            object-position: 30% 50%;
            position: absolute;
            margin-right: 10%;
        
        }
        
        .body-content>h2 {
            position: absolute;
            margin-left: 10%;
            margin-bottom: 50%;
            margin-top: 4%;
            color: white;
            font-size: 3rem;
            font-weight: lighter;
            text-align: center;
        }
 
        i {
            color: #DE5C6E;
        }
        
        .body-content>.paragraph {
            font-size: 1.5rem;
            position: absolute;
            text-align: center;
            width: 37%;
            margin-left: 7%;
            margin-bottom: 50%;
            margin-top: 12%;
        }
        
        .form {
            background-color: white;
            position: absolute;
            width: 35rem;
            height: 14rem;
            margin-left: 30%;
            margin-bottom: 50%;
            margin-top: 45%;
            box-shadow: 10px 10px 5px #B38180;
        }
        
        button {
            position: absolute;
            color: white;
            background-color: #DE5C6E;
            border: none;
            border-radius: 6%;
            width: 12rem;
            height: 3rem;
            margin-left: 30%;
            margin-bottom: 50%;
            margin-top: 80%;
            font-size: larger;
        }
        
        .login {
            position: absolute;
            margin-left: 30%;
            margin-bottom: 50%;
            margin-top: 90%;
        }
        
        .login>b {
            color: white;
        }
        
        /* /* .siteDestinations>h3{
            /* padding-right: 10%; */
        
            form {
                position: relative;
                   width: 500px;
                   height: 200px;
                   padding: 2%;
                   padding-left: 9%;
        
               }
               
               label{
                font-size: 1rem;
                margin-left: 5%;
               }
               
               .first_name{
                   position: absolute;
                   padding-left: 3%;
               
               }
               .last_name{
                   position: absolute;
                   margin-left: 50%;
               }
               .email{
                   position: absolute;
                   margin-top: 12%;
                   padding-left: 3%;
               
               }
               .phone_number{
                   position: absolute;
                   margin-top: 12%;
                   margin-left: 50%;
               
               }
               .password{
                   position: absolute;
                   margin-top: 28%;
                   padding-left: 3%;
               
               }
               .confirm_password{
                   position: absolute;
                   margin-top: 25%;
                   margin-left: 50%;
               }
               input{
                background-color: #D9D9D9;
                border: 0;
                height: 1.5rem;
               }
    }





    @media(width<=425px){ 


        body {
            margin: 0;
            background-color: #eba5a5;
            font-family: "Times New Roman", Times, serif;
            width: 100vh;
            height: auto;
        
        }

/*---Navigation Bar---*/
        .navbar {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            background-color: white;
            width: 100vh;
        }
        
        h1 {
            font-size: 3rem;
            letter-spacing: 10px;
        }
        
        .logo>img {
            width: 120px;
            height: 100px;
        }
        
        .siteDestinations {
            display: flex;
            width: 200px;
            height: auto;
            align-content: space-between;
            align-items: center;
            justify-content:space-evenly;
            margin-right: 2%;
            font-size: 1.3rem;
        }
        
       
        
        .body-content {
            position: relative;
            width: auto;
            background-color: #EFABAA;
        }
        
        
        img.girlWithCupcake {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            object-position: 30% 50%;
            position: absolute;
            margin-right: 10%;
        
        }
        
        .body-content>h2 {
            position: absolute;
            margin-left: 10%;
            margin-bottom: 50%;
            margin-top: 4%;
            color: white;
            font-size: 3rem;
            font-weight: lighter;
            text-align: center;
        }
 
        i {
            color: #DE5C6E;
        }
        
        .body-content>.paragraph {
            font-size: 1.5rem;
            position: absolute;
            text-align: center;
            width: 37%;
            margin-left: 7%;
            margin-bottom: 50%;
            margin-top: 12%;
        }
        
        .form {
            background-color: white;
            position: absolute;
            width: 35rem;
            height: 14rem;
            margin-left: 15%;
            margin-bottom: 50%;
            margin-top: 105%;
            box-shadow: 10px 10px 5px #B38180;
        }
        
        button {
            position: absolute;
            color: white;
            background-color: #DE5C6E;
            border: none;
            border-radius: 6%;
            width: 12rem;
            height: 3rem;
            margin-left: 15%;
            margin-bottom: 50%;
            margin-top: 140%;
            font-size: larger;
        }
        
        .login {
            position: absolute;
            margin-left: 15%;
            margin-bottom: 50%;
            margin-top: 150%;
        }
        
        .login>b {
            color: white;
        }
        
        /* /* .siteDestinations>h3{
            /* padding-right: 10%; */
        
            form {
                position: relative;
                   width: 500px;
                   height: 200px;
                   padding: 2%;
                   padding-left: 9%;
        
               }
               
               label{
                font-size: 1rem;
                margin-left: 5%;
               }
               
               .first_name{
                   position: absolute;
                   padding-left: 3%;
               
               }
               .last_name{
                   position: absolute;
                   margin-left: 50%;
               }
               .email{
                   position: absolute;
                   margin-top: 12%;
                   padding-left: 3%;
               
               }
               .phone_number{
                   position: absolute;
                   margin-top: 12%;
                   margin-left: 50%;
               
               }
               .password{
                   position: absolute;
                   margin-top: 28%;
                   padding-left: 3%;
               
               }
               .confirm_password{
                   position: absolute;
                   margin-top: 25%;
                   margin-left: 50%;
               }
               input{
                background-color: #D9D9D9;
                border: 0;
                height: 1.5rem;
               }

    